.cdt-title{
    justify-content: center;
    background: black;
    border-radius: 5px;
     
}
.countdown-container{
    background-image: url('./img/cybersplash.jpg');
    margin: 100px;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}
.countdown{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 80%;
    align-items: center;
    margin: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}
.c-time{
    color: gold;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    width: 100px;
    margin-bottom: 0;

}
.c-title{
    color:gold
}

/* TaskTracker */
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form input{
    border-radius: 5px 0px 0px 5px;
}
form button{
    
    border-radius: 0px 5px 5px 0px;
    color: gold;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: gold;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 50%;
    list-style: none;
    padding-left: 0;
}
.todo-list-container{
    
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}
.todo-list-container form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: sticky;
    background: black;
    border-radius: 5px;
}
.todo-list-container::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
.todo-list-container::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 20px;
}
.todo-list-container::-webkit-scrollbar-button{
    height: 12px;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.remove-btn, .check-btn{
    background: white;
    color: gold;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.remove-btn:hover{ 
    background: gold;
    color: white;
}
.check-btn:hover{
    background: green;
    color: white;
}
.check-btn{
    color: green;
}
.remove-btn{
    border-radius: 0px 5px 5px 0px;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    background: lightgray;
    color: gray;
}
.vanish{
    transform: translateX(40px);
    opacity: 0;
}
/* TaskTracker */

.other-projects-container{
    display: flex;
    margin: 40px;
    flex-direction: column;
    background: white;
    align-items: center;
    border-radius: 5px;
}
.back-btn{
    width: 150px;
    font-size: x-large;
    margin-bottom: 5px;
    background: black;
    color: gold;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.project-list-container{
    
}
.project-list{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}
.projectItem{
    background: gold;
    color: black;
    padding: 15px;
    font-size: xx-large;
    border-radius: 5px;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
    box-shadow: 0px 2px 5px 2px black;
    font-weight: bold;
    transition: .5s ease;
}
.projectItem:hover{
    cursor: pointer;
    transform: translateY(-15px);
    box-shadow: 0px 3px 6px 4px black;
    transition: .5s ease;
}