.Task-Tracker-container{
    background-color: black;
    height: 70vh;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.meter-grid{
    border: 2px solid gray;
    color: gray;
    width: 435px;
    height: 50vh;
    text-align-last: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.task-meter-container{
    /* flex-grow: 1; */
}
.grid-blocks{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 440px;
}
.blocks{
    width: 60px;
    border: 2px solid;
    height: 50px;
    border-radius: 5px;
    margin: 1px;
}
.blocks:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: .5s ease;
}
.blocks-full{
    width: 60px;
    border: 2px solid;
    height: 50px;
    border-radius: 5px;
    margin: 1px;
    background: lightgray;
}
.blocks-full:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: .5s ease;
}
.block-act{
    margin: 0;
    width: 100%;
    height: 100%;
}
.pulse{
    animation: pulsate 3s infinite;
}

@keyframes pulsate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.task-list-container{
    display: flex;
    flex-direction: column;
    color: gray;
}
.blockTasks-container{
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.finished-tasks-header{
    color: gray;
    margin-top: 10px;
}
.task-action-buttons{
    margin-bottom: 5vh;
}
.modal-background{
    background: white;
    opacity: 0.6;
    width: 100vw;
    height: 111.5vh;
    transform: translateY(-23.5vh);
    position: absolute;
    z-index: 2;
}