.Task-Tracker-container{
    background-color: black;
    height: 70vh;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.meter-grid{
    border: 2px solid gray;
    color: gray;
    width: 435px;
    height: 50vh;
    text-align-last: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.task-meter-container{
    /* flex-grow: 1; */
}
.grid-blocks{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 440px;
}
.blocks{
    width: 60px;
    border: 2px solid;
    height: 50px;
    border-radius: 5px;
    margin: 1px;
}
.blocks:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: .5s ease;
}
.blocks-full{
    width: 60px;
    border: 2px solid;
    height: 50px;
    border-radius: 5px;
    margin: 1px;
    background: lightgray;
}
.blocks-full:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: .5s ease;
}
.block-act{
    margin: 0;
    width: 100%;
    height: 100%;
}
.pulse{
    animation: pulsate 3s infinite;
}

@keyframes pulsate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.task-list-container{
    display: flex;
    flex-direction: column;
    color: gray;
}
.blockTasks-container{
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Task-block-timer{
    color: gold ;
    margin-top: 3vh;
    font-size: xxx-large;
    text-align: center;
}
.finished-tasks-header{
    color: gray;
    margin-top: 10px;
}
.task-action-buttons{
    margin-bottom: 5vh;
}
.modal-background{
    background: rgba(255, 255, 255, 60%);
    /* opacity: 0.6; */
    width: 100vw;
    height: 111.5vh;
    transform: translateY(-23.5vh);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.modal-container{
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    background: white;
    border: 2px solid;
    border-radius: 5px;
}
.modal-container h2{
    text-align: center;
}
.modal-close{
    width: 20px;
    margin: 0;
    padding: 1px;
    text-align: center;
    background: gray;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid;
    position: absolute;
}
.modal-close:hover{
    background: black;
    color: gold;
    cursor: pointer;
}
.modal-list{
    height: 5vh;
    border-radius: 5px;
    width: 200px;
    margin: 2px;
    border: 2px solid black;
    list-style-position: inside;
    padding-left: 5px;
}

.modal-list:hover{
    background: black;
    color: gold;
    cursor: pointer;
}

.active-modal-list{
    background: gold;
    height: 5vh;
    border-radius: 5px;
    width: 200px;
    margin: 2px;
    border: 2px solid black;
    list-style-position: inside;
    padding-left: 5px;
}
.active-modal-list:hover{
    cursor: pointer;
    background: black;
    color: gold;
}
.modal-tasks ul{
    transition: .5s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 45vw;
}
.modal-tasks button{
    width: 10vw;
    background: gray;
    height: 6vh;
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
}
.modal-tasks button:hover{
    cursor: pointer;
    background: black;
    color: gold;
}
.modal-button-container{
    width: 100%;
    text-align: center;
}

.block-task-list li{
    width: 190px;
    margin-top: 10px;
    color: gold;
    animation: glitch 1s linear infinite;
}

.block-task-list li:before{
    animation: glitchTop 2s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  .block-task-list li:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
 
.block-task-list li:before,
  .block-task-list li:after{
  content: attr(title);
  position: absolute;
  left: 2px; 
}

@keyframes glitch{
    2%,64%{
      transform: translate(0px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(0px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
